
h1{
    font-size: 50px;
    text-align: center;
    color: green;
}
h3{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: green;
}
.histry{
    width: 40%;
    margin:1%;
    margin-left: 3%;
    padding: 2%;
    float:left;
    text-align: justify;
    border: 2px solid red;
    border-radius: 5px;
    height: 100%;  
}
.first-one{
    height: 300px;
    margin: 5%;
    padding: 1%;
}
.second-one{
    height: 300px;
    margin: 5%;
    padding: 1%;
}
img{
    margin-left: 39%;
    width: 300px;
    height: 200px;
}
.third-one{
    height: 250px;
    margin: 10%;
}
.last-one{
    height: 520px;
    margin: 10%;
    padding: 3%;
}
#little-one {
 background-color:aquamarine;
 border: 5px solid aquamarine;
 box-shadow: 5px 5px 20px darkcyan;
}
#little-two{
    background-color: greenyellow;
    border: 5px solid greenyellow;
    box-shadow: 5px 8px yellow;
}
#little-three {
    background-color: peru;
    border: 5px solid peru;
    box-shadow: 5px 8px darkgoldenrod;
}
#little-four {
    background-color: plum;
    border: 5px solid plum;
    box-shadow: 5px 5px 20px rgb(186, 89, 235)
}
.link{
    text-decoration: none;
}
.media{
    float: left;
    width: 50%;
}
footer{
    text-align: center;
    color: red;
}
table{
    border-collapse: collapse;
}
td{
    border: 2px solid darkslategray;
}
th{
    border: 2px solid darkslategrey;
}
.form{
    width: 50%;
    float: left;
}